package log

import (
	"fmt"
	"log/slog"
	"os"
	"path/filepath"
	"time"

	"github.com/noble-gase/neon/closekit"
	slogmulti "github.com/samber/slog-multi"
	"github.com/spf13/viper"
	"gopkg.in/natefinch/lumberjack.v2"
)

type Config struct {
	Path    string  `mapstructure:"path"`
	Options Options `mapstructure:"options"`
}

type Options struct {
	MaxSize    int  `mapstructure:"max_size"`
	MaxAge     int  `mapstructure:"max_age"`
	MaxBackups int  `mapstructure:"max_backups"`
	Compress   bool `mapstructure:"compress"`
	Stdout     bool `mapstructure:"stdout"`
}

// Init 初始化日志
func Init() {
	var cfg Config
	if err := viper.UnmarshalKey("log", &cfg); err != nil {
		panic(fmt.Errorf("Log init failed: %w", err))
	}

	ho := &slog.HandlerOptions{
		ReplaceAttr: func(groups []string, attr slog.Attr) slog.Attr {
			if attr.Key == slog.TimeKey {
				return slog.String("time", attr.Value.Time().In(time.Local).Format(time.DateTime))
			}
			return attr
		},
	}

	if len(cfg.Path) == 0 {
		slog.SetDefault(slog.New(NewContextHandler(os.Stderr, ho)))
		return
	}

	rotate := &lumberjack.Logger{
		Filename:   filepath.Clean(cfg.Path),
		MaxSize:    cfg.Options.MaxSize,
		MaxAge:     cfg.Options.MaxAge,
		MaxBackups: cfg.Options.MaxBackups,
		Compress:   cfg.Options.Compress,
	}

	closekit.Add("log", closekit.P100, func() error {
		return rotate.Close()
	})

	if cfg.Options.Stdout {
		slog.SetDefault(slog.New(slogmulti.Fanout(
			NewContextHandler(rotate, ho),
			NewContextHandler(os.Stderr, ho),
		)))
		return
	}
	slog.SetDefault(slog.New(NewContextHandler(rotate, ho)))
}
