package greeter

import (
	"context"
	"fmt"
	"os"
	"testing"

	"{{.Module}}/{{.ApiPkg}}"
	"{{.Module}}/internal/{{.AppPkg}}/config"

	"github.com/noble-gase/neon/closekit"
	"github.com/stretchr/testify/assert"
)

func TestMain(m *testing.M) {
	// 初始化
	config.Init("TOML配置文件路径")
	// 执行测试
	code := m.Run()
	// 关闭资源
	closekit.Close()

	os.Exit(code)
}

func Test_Greeter_SayHello(t *testing.T) {
	ctx := context.Background()

	svc := New()
	resp, err := svc.SayHello(ctx, &{{.ApiName}}.HelloRequest{
		Name: "world",
	})
	assert.Nil(t, err)
	fmt.Println("[resp]", resp.String())
}
