package middleware

import (
	"context"

	"{{.Module}}/pkg/code"
	"{{.Module}}/pkg/status"

	"github.com/noble-gase/neon/validkit"
	"google.golang.org/grpc"
)

func Validator(ctx context.Context, req any, _ *grpc.UnaryServerInfo, handler grpc.UnaryHandler) (any, error) {
	if err := validkit.ValidateStruct(req); err != nil {
		return nil, status.Error(ctx, code.ErrParams.WithMsg(err.Error()))
	}
	return handler(ctx, req)
}
