package code

import "github.com/noble-gase/neon/codekit"

var (
	ErrParams   = codekit.New(10000, "params error")
	ErrAuth     = codekit.New(20000, "unauthenticated")
	ErrPerm     = codekit.New(30000, "permission denied")
	ErrNotFound = codekit.New(40000, "entity not found")
	ErrSystem   = codekit.New(50000, "internal server error")
	ErrService  = codekit.New(60000, "service error")
)
