package middleware

import (
	"net/http"
	"strings"

	"github.com/google/uuid"
	"github.com/noble-gase/neon/helper"
	"google.golang.org/grpc/metadata"
)

// Header is a middleware that injects http headers into the context of each request.
func Header(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		ctx := r.Context()

		md, ok := metadata.FromIncomingContext(ctx)
		if !ok {
			md = metadata.Pairs()
		}

		for k, vals := range r.Header {
			md.Set(k, vals...)
		}

		// traceId
		var traceId string
		if vals := md.Get(helper.XTraceId); len(vals) != 0 {
			traceId = vals[0]
		}
		if len(traceId) == 0 {
			traceId = strings.ReplaceAll(uuid.New().String(), "-", "")
			md.Set(helper.XTraceId, traceId)
		}

		// set response header
		w.Header().Set(helper.XTraceId, traceId)

		// reset request context
		next.ServeHTTP(w, r.WithContext(metadata.NewIncomingContext(ctx, md)))
	})
}
