package middleware

import (
	"net/http"

	"{{.Module}}/pkg/code"
	"{{.Module}}/pkg/iden"

	"github.com/noble-gase/neon/result"
)

// Auth App授权中间件
func Auth(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		idenId := iden.GetIdenId(r.Context())
		if idenId == 0 {
			result.Err(code.ErrAuth).JSON(w, r)
			return
		}
		// TODO ...
		next.ServeHTTP(w, r)
	})
}
