package greeter

import (
	"context"
	"fmt"
	"os"
	"testing"

	"{{.Module}}/internal/{{.AppPkg}}/config"

	"github.com/noble-gase/neon/closekit"
)

func TestMain(m *testing.M) {
	// 初始化
	config.Init("TOML配置文件路径")
	// 执行测试
	code := m.Run()
	// 关闭资源
	closekit.Close()

	os.Exit(code)
}

func TestHello(t *testing.T) {
	ctx := context.Background()

	req := &ReqHello{
		Name: "world",
	}
	ret := Hello(ctx, req)
	fmt.Println("[Result] ---", ret)
}
