package log

import (
	"context"
	"io"
	"log/slog"
	"os"

	"github.com/noble-gase/neon/helper"
)

var hostname, _ = os.Hostname()

type contextHandler struct {
	slog.Handler
}

func (h *contextHandler) Handle(ctx context.Context, r slog.Record) error {
	r.AddAttrs(
		slog.String("hostname", hostname),
		slog.String(helper.XTraceId, helper.MDTraceIdFromCtx(ctx)),
	)
	return h.Handler.Handle(ctx, r)
}

func NewContextHandler(w io.Writer, opts *slog.HandlerOptions) slog.Handler {
	return &contextHandler{
		Handler: slog.NewJSONHandler(w, opts),
	}
}
