package status

import (
	"context"

	"github.com/noble-gase/neon/codekit"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"
)

func Error(ctx context.Context, err error) error {
	code := codekit.FromError(err)
	return status.Error(codes.Code(code.Value()), code.Message())
}
