package server

import (
	"{{.Module}}/internal/{{.AppPkg}}/hooks"
	"{{.Module}}/internal/{{.AppPkg}}/tools"
	"{{.Module}}/pkg/cache"
	"{{.Module}}/pkg/db"

	"github.com/noble-gase/argon"
	"github.com/noble-gase/argon/channel/dingtalk"
	"github.com/noble-gase/argon/llmchat"
	"github.com/noble-gase/argon/model/openai"
	"github.com/spf13/viper"
	adk_agent "google.golang.org/adk/v2/agent"
	"google.golang.org/adk/v2/agent/llmagent"
	"gorm.io/driver/mysql"
)

func NewAssistant() *argon.DingTalkAssistant {
	agent := &llmchat.AgentTool{
		Name:        "demo",
		Description: "Demo智能助手",
		Instruction: `你是一个企业内部智能助手，负责理解用户意图并将任务分发给合适的 Agent 工具。
## 基本规则
- 不要凭自身知识回答问题，必须通过 Agent 工具获取正确的信息
- 结果必须全部显示，不要省略字段，更不要使用 ... 省略内容`,
		LLMAdapter: &llmchat.OpenAI{
			Config: openai.Config{
				APIKey:    viper.GetString("llm.apiKey"),
				BaseURL:   viper.GetString("llm.baseURL"),
				ModelName: viper.GetString("llm.model"),
			},
		},
		AgentHooks: llmchat.AgentCallback{
			Before: []adk_agent.BeforeAgentCallback{hooks.Tracker.BeforeAgent},
			After:  []adk_agent.AfterAgentCallback{hooks.Tracker.AfterAgent},
		},
		ToolHooks: llmchat.ToolCallback{
			After: []llmagent.AfterToolCallback{hooks.Tracker.AfterTool},
		},
		ModelHooks: llmchat.ModelCallback{
			After: []llmagent.AfterModelCallback{hooks.Tracker.AfterModel},
		},
	}

	// tools
	tools.RegisterMcpTools(agent)
	tools.RegisterFuncTools(agent)

	// llmchat
	dialector := mysql.New(mysql.Config{
		Conn: db.DB(),
	})
	chat, err := argon.NewLLMChat("Demo-Agent", dialector, cache.R(), agent)
	if err != nil {
		panic(err)
	}

	// dingtalk
	cfg := &dingtalk.Config{
		ClientId:       viper.GetString("dingtalk.clientId"),
		ClientSecret:   viper.GetString("dingtalk.clientSecret"),
		CardTemplateId: viper.GetString("dingtalk.cardTemplateId"),
	}
	assistant, err := argon.NewDingTalkAssistant(cfg, cache.R(), chat)
	if err != nil {
		panic(err)
	}
	return assistant
}
