package handler

import (
	"net/http"

	"{{.Module}}/internal/{{.AppPkg}}/service/greeter"
	"{{.Module}}/pkg/code"

	"github.com/noble-gase/neon/httpkit"
	"github.com/noble-gase/neon/result"
)

func Hello(w http.ResponseWriter, r *http.Request) {
	ctx := r.Context()

	req := new(greeter.ReqHello)
	if err := httpkit.BindJSON(r, req); err != nil {
		result.Err(code.ErrParams.WithMsg(err.Error())).JSON(w, r)
		return
	}
	greeter.Hello(ctx, req).JSON(w, r)
}
