package middleware

import (
	"fmt"
	"log/slog"
	"net/http"
	"runtime/debug"

	"github.com/noble-gase/neon/result"
)

// Recovery panic recover middleware
func Recovery(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		defer func() {
			if err := recover(); err != nil {
				slog.ErrorContext(r.Context(), "panic occurred", slog.Any("error", err), slog.String("stack", string(debug.Stack())))
				result.Err(fmt.Errorf("panic occurred: %+v", err)).JSON(w, r)
			}
		}()
		next.ServeHTTP(w, r)
	})
}
